/* General Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    color: #333;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.fixed-button {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Header Styles */
header {
    background-color: #4CAF50; /* Updated color for a fresher look */
    color: white;
    padding: 10px 0;
    text-align: center;
    border-bottom: 3px solid #388E3C; /* Darker green */
}

header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-form {
    margin-left: auto;
}

/* Form Styles */
form {
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

form input[type="text"] {
    /*width: 100%;*/
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

#active {
    margin-right: 10px;
    vertical-align: middle;
}


form input[type="file"] {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Styles for the view file page */
#file-path-btn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#file-path-display {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

/* Progress Bar Styles */
#progress-container {
    margin-top: 30px;
    text-align: center;
}

#progress-bar-outer {
    background-color: #e0e0e0; /* Light gray */
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progress-bar-inner {
    background: linear-gradient(to right, #4CAF50, #81C784); /* Green gradient */
    height: 100%;
    width: 0;
    border-radius: 20px;
    transition: width 0.6s ease;
}

#progress-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* Results Styles */
h2 {
    color: #4CAF50; /* Updated color */
    font-size: 32px;
    margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 15px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    background: linear-gradient(135deg, #4caf50, #2e8b57); /* Gradient color */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

button:hover {
    background: linear-gradient(135deg, #45a049, #267147); /* Darker gradient */
    transform: translateY(-2px);
}

/* View Users Styles */
.users-container {
    margin-top: 30px;
}

.users-header {
    background-color: #4CAF50; /* Updated color */
    color: white;
    padding: 15px 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.users-list {
    list-style: none;
    padding: 0;
}

.user-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.user-item:nth-child(even) {
    background-color: #f9f9f9;
}

.user-item:last-child {
    border-bottom: none;
}

/* Footer Styles */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 16px;
    position: relative;
    bottom: 0;
    margin-top: 30px;
    border-bottom: 3px solid #388E3C; /* Darker green */
}


/* Responsive Styles */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    form {
        padding: 20px;
    }

    form input[type="file"],
    form button {
        padding: 10px;
    }

    button {
        padding: 10px 20px;
        font-size: 16px;
    }

    #progress-text {
        font-size: 18px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    form {
        padding: 15px;
    }

    form input[type="file"],
    form button {
        padding: 8px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }

    #progress-text {
        font-size: 16px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
