{% extends 'base.html' %}
{% block body %}
<div class="form-columns">
    <h2><a href="{{ url_for('manage_users') }}">Add a New User</a></h2>
    <form method="post" action="{{ url_for('add_user') }}">

        <label for="email" >Email:</label>
        <input type="text" name="email" id="email" required> <br>

        <label for="ippis" >IPPIS Number:</label>
        <input type="text" name="ippis" id="ippis" required> <br>

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" id="first_name" required>

        <label for="surname">Surame:</label>
        <input type="text" name="surname" id="surname" required>

        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" required>

        <label for="active" style="display: inline">Active:</label>
        <input type="checkbox" name="active" id="active">

        <button class="btn btn-primary" type="submit">Add User</button>
    </form>
</div>
{% endblock %}
