<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title %}
            Notification Script - {{ title }}
        {% else %}
            Notification Script
        {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='scripts/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/base_script.js') }}"></script>

</head>
<body>
<div class="container">
    <header>
        <h1>Notification Script</h1>
    </header>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    {% block body %}


    {% endblock %}

    <footer>
        <p>&copy; 2024 NASRDA ICT. </p>
    </footer>
</div>
</body>
</html>
