<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% if title %}
        Notification Mail - {{title}}
    {% else %}
        Notification Mail
    {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <header>
        <h1>Notification Mail</h1>
    </header>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <p>&copy; 2024 NASRDA ICT. </p>
    </footer>
</body>
</html>
